@model Asset_Oracle.Models.SV_SERVICEDETAILS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SV_SERVICEDETAILS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PROGRAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROGRAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROJETC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROJETC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RELEASE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RELEASE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APIOPERATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APIOPERATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPRINT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPRINT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATEDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATEDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LASTMODIFIEDDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LASTMODIFIEDDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQUEST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQUEST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESPONSE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESPONSE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARGUMENT1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARGUMENT1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COLUMN11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COLUMN11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARGUMENT2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARGUMENT2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARGUMENTVALUE2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARGUMENTVALUE2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COLUMN2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COLUMN2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARGUMENTVALUE3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARGUMENTVALUE3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARGUMENT4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARGUMENT4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARGUMENTVALUE4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARGUMENTVALUE4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARGUMENT5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARGUMENT5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARGUMENTVALUE5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARGUMENTVALUE5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQUESTHEADER1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQUESTHEADER1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQUESTHEADERVALUE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQUESTHEADERVALUE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQUESRHEADER2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQUESRHEADER2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQUESTHEADERVALUE2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQUESTHEADERVALUE2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESPONSEHEADER1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESPONSEHEADER1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESPONSEHEADERVALUE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESPONSEHEADERVALUE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESPONSEHEADER2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESPONSEHEADER2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESPONSEHEADERVALUE2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESPONSEHEADERVALUE2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESPONSEHEADER3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESPONSEHEADER3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESPONSEHEADERVALUE3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESPONSEHEADERVALUE3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIVESERVER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIVESERVER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COLUMN3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COLUMN3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.METHOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.METHOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LASTMODIFIEDBY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LASTMODIFIEDBY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USERID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COLUMN4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COLUMN4)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
