@model Asset_Oracle.Models.SV_SERVICEDETAILS

@{
    ViewBag.Title = "View Details";
}
<a class="acn-logo" title="Accenture" data-rel="856d2796-13ab-4036-9c60-87b846b6dea1" data-name="asset" data-linktype="navigationsettings:logo" tabindex="0">
    <img src="//www.accenture.com/t20171113T020841Z__w__/us-en/_acnmedia/Accenture/Dev/ComponentImages/logo-accenture.svg" alt="Accenture" style="text-align:right;" />
</a>
<h3 style="text-align:center;"><b>Service Virtualization – Test Data Management Portal</b></h3>

<hr />

@using (Html.BeginForm("Edit", "Service", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container ">
        @Html.ValidationSummary(true)

        <div class="form-group row">
            <div class="col-lg-5">
                @Html.Label("Program", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.PROGRAM)
            </div>
            <div class="col-lg-1">
                <b> </b>
            </div>
            <div class="col-lg-6">
                @Html.Label("Project", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.PROJECT)
            </div>
        </div>


        <div class="form-group row">
            <div class="col-lg-5">
                @Html.Label("Release", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.RELEASE)
            </div>
            <div class="col-lg-1">
                <b> </b>
            </div>
            <div class="col-lg-6">
                @Html.Label("API Operation", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.APIOPERATION)
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-5">
                @Html.Label("Sprint", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.SPRINT)
            </div>
            <div class="col-lg-1">
                <b> </b>
            </div>
            <div class="col-lg-6">
                @Html.Label("Number Of Modifictions", new { @class = " col-md-5" })
                @Model.NUMOFMODIFICATIONS
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-5">
                @Html.Label("Created By", new { @class = " col-md-5" })
                @Model.USERID
            </div>
            <div class="col-lg-1">
                <b> </b>
            </div>
            <div class="col-lg-6">
                @Html.Label("Created Date", new { @class = " col-md-5" })
               @Model.CREATEDDATE
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-5">
                @Html.Label("Last Modified By", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.LASTMODIFIEDBY)
            </div>
            <div class="col-lg-1">
                <b> </b>
            </div>
            <div class="col-lg-6">
                @Html.Label("Last Modified Date", new { @class = " col-md-5" })
                @Model.LASTMODIFIEDDATE
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-6">
                @Html.Label("Request", new { @class = " col-md-4" })
                @Html.TextAreaFor(model => model.REQUEST, new { @placeholder = "Enter Request", @class = "form-control col-lg-8 ", style = "width:1200px; height:200px;" })
            </div>

            <div class="col-lg-6">
                @Html.Label("Response", new { @class = " col-md-4" })
                @Html.TextAreaFor(model => model.RESPONSE, new { @placeholder = "Enter Response", @class = "form-control col-lg-8 ", style = "width:1200px; height:200px;" })
            </div>
        </div>
        <br />


        <div class="form-group row">
            <div class="col-lg-5">
                @Html.Label("Live Server", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.LIVESERVER)
            </div>
            <div class="col-lg-1">
                <b> </b>
            </div>
            <div class="col-lg-6">
                @Html.Label("Live Port", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.LIVEPORT)
            </div>
        </div>
       
        <br />

        <h4 style="text-align:center">Argument Configurations</h4>
        <hr />

        <div class="form-group row">
            <div class="col-lg-5">
                @Html.Label("Argument 1", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.ARGUMENT1)
            </div>
            <div class="col-lg-1">
                <b> =</b>
            </div>
            <div class="col-lg-6">
                @Html.Label("Argument Value 1", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.ARGUMENTVALUE1)
            </div>
        </div>
        <div class="form-group row">


            <div class="col-lg-5">
                @Html.Label("Argument 2", new { @class = " col-md-5" })

                @Html.DisplayTextFor(model => model.ARGUMENT2)
            </div>

            <div class="col-lg-1">
                <b> =</b>
            </div>
            <div class="col-lg-6">
                @Html.Label("Argument Value 2", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.ARGUMENTVALUE2)
            </div>


        </div>
        <div class="form-group row">


            <div class="col-lg-5">
                @Html.Label("Argument 3", new { @class = " col-md-5" })

                @Html.DisplayTextFor(model => model.ARGUMENT3)
            </div>

            <div class="col-lg-1">
                <b> =</b>
            </div>
            <div class="col-lg-6">
                @Html.Label("Argument Value 3", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.ARGUMENTVALUE3)
            </div>


        </div>


        <br />
        <br />
        <h4 style="text-align:center">Header Configurations</h4>
        <hr />
        <div class="form-group row">


            <div class="col-lg-5">
                @Html.Label("Request Header 1", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.REQUESTHEADER1)

            </div>

            <div class="col-lg-1">
                <b> =</b>
            </div>
            <div class="col-lg-6">
                @Html.Label("Request Header Value 1", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.REQUESTHEADERVALUE1)

            </div>


        </div>
        <div class="form-group row">


            <div class="col-lg-5">
                @Html.Label("Request Header 2", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.REQUESTHEADER2)

            </div>

            <div class="col-lg-1">
                <b> =</b>
            </div>
            <div class="col-lg-6">
                @Html.Label("Request Header Value 2", new { @class = " col-md-5" })
                @Html.TextAreaFor(model => model.REQUESTHEADERVALUE2, new { @placeholder = "Enter Request Header Value 2", @title = "rO0ABXNyACNvcmcubXVsZS5zZXNzaW9uLkRlZmF1bHRNdWxlU2Vzc2lvbi7rdtEW7GGKAwAFWgAFdmFsaWRMAA1mbG93Q29uc3RydWN0dAAmTG9yZy9tdWxlL2FwaS9jb25zdHJ1Y3QvRmxvd0NvbnN0cnVjdDtMAAJpZHQAEkxqYXZhL2xhbmcvU3RyaW5nO0wACnByb3BlcnRpZXN0AA9MamF2YS91dGlsL01hcDtMAA9zZWN1cml0eUNvbnRleHR0ACdMb3JnL211bGUvYXBpL3NlY3VyaXR5L1NlY3VyaXR5Q29udGV4dDt4cAFwdAAkM2ZlYTBkNTEtOGQ2Yi0xMWU3LWEyODctMGU5YjkzOTVjYjk4c3IAJWphdmEudXRpbC5Db2xsZWN0aW9ucyRTeW5jaHJvbml6ZWRNYXAbc/kJS0s5ewMAAkwAAW1xAH4AA0wABW11dGV4dAASTGphdmEvbGFuZy9PYmplY3Q7eHBzcgAkb3JnLm11bGUudXRpbC5DYXNlSW5zZW5zaXRpdmVIYXNoTWFwndHZ72dFzgADAAB4cHcMP0AAAAAAABAAAAAAeHEAfgAJeHB4", @class = "form-control ", @style = "width:1200px; height:200px;" })

            </div>


        </div>
        <div class="form-group row">


            <div class="col-lg-5">
                @Html.Label("Request Header 3", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.REQUESTHEADER3)

            </div>

            <div class="col-lg-1">
                <b> =</b>
            </div>
            <div class="col-lg-6">
                @Html.Label("Request Header Value 3", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.REQUESTHEADERVALUE3)

            </div>


        </div>
        <div class="form-group row">


            <div class="col-lg-5">
                @Html.Label("Response Header 1", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.RESPONSEHEADER1)

            </div>

            <div class="col-lg-1">
                <b> =</b>
            </div>
            <div class="col-lg-6">
                @Html.Label("Response Header Value 1", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.RESPONSEHEADERVALUE1)

            </div>


        </div>
        <div class="form-group row">


            <div class="col-lg-5">
                @Html.Label("Response Header 2", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.RESPONSEHEADER2)

            </div>

            <div class="col-lg-1">
                <b> =</b>
            </div>
            <div class="col-lg-6">
                @Html.Label("Response Header Value 2", new { @class = " col-md-5" })
                @Html.DisplayTextFor(model => model.RESPONSEHEADERVALUE2)

            </div>


        </div>



    </div>

}

<div class="row" style="text-align:right;">
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

